:root {
    --accent-color: #3470FF;
    --accent-hover: #0B44CD;
    --primary-color: #121417;
    --secondary-color: rgba(18, 20, 23, 0.50);
    --label-color: #8A8A89;
    --select-color: #12141733;
    --separator-color: rgba(18, 20, 23, 0.10);

    --bg-color: #FFFFFF;
    --input-bg-color: #F7F7FB;
    --image-bg-color:  #F3F3F2;

    --condition-bg-color: #F9F9F9;
    --condition-color: #363535;
    --sidebar-bg-color: #1C1C1C;
}